.hi
{
    color: blue;
    align-content: center;
    align-items: center;
    border: black;
    padding: 50px;
    margin: 20px;
}
button
{
    padding-left: 20px;    
    padding-right: 20px;
}
.btn-check{
    margin: 10px;
}
input{
    color: rgb(118, 233, 118);
}